:root {
  --color-bg: #A164DF;
  --color-card: #663399;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  min-height: 100vh;
  background-color: var(--color-bg);
}

.sounds-cards__wrapper {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1.75em;
}

.sound-card {
  display: grid;
  place-content: center;
  grid-template: "stack";
  width: 10rem;
  aspect-ratio: 16 / 9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: .5em;
  background-color: var(--color-card);
  color: white;
  cursor: pointer;
  transition: scale 200ms ease-in, opacity 100ms ease-in;

  & > * {
    grid-area: stack;
  }

  &:active {
    scale: 1.05;
  }

  &:hover {
    opacity: 0.8;
  }
}

