:root {
  --bg-color1: #EAFBFF;
  --bg-color2: #5290F9;
  --text-color: #5C5C5C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--bg-color1) 0%,
    var(--bg-color1) 50%,
    var(--bg-color2) 50%,
    var(--bg-color2) 100%
  );
}

nav {
  width: 350px;
  height: 80px;
  padding: 1.25em 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: .25em;
  background-color: white;
  /* overflow: hidden; */
  color: var(--text-color);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .25);
  transition: width 0.5s ease-in-out;

  & ul {
    display: flex;
    gap: 0 1.25em;
    align-items: center;
    list-style: none;

    & li {
      opacity: 1;
      transform: rotateY(360deg);
      transition: transform 0.6s linear, opacity 0.6s linear;

      & a {
        text-decoration: none;
        color: var(--text-color);
      }
    }

    & li:last-child {
      & .close__button {
        position: relative;
        border: 0;
        cursor: pointer;
        width: 30px;
        aspect-ratio: 1/1;
        background-color: white;

        & .line {
          width: 20px;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 20%;
          background-color: var(--bg-color2);
          transition: transform 0.3s linear;
        }

        & .line:first-child {
          transform: rotate(45deg);
        }
        & .line:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

nav.active {
  width: 150px;
  & ul {
    & li {
      width: 0;
      height: 0;
      transform: rotateY(0deg);
      opacity: 0;
    }

    & li:last-child {
      width: auto;
      height: auto;
      opacity: 1;

      & .close__button {
        & .line {
          top: calc(50% - 4px);
        }
        & .line:first-child {
          transform: rotatey(0) translateY(8px);
        }
        & .line:last-child {
          transform: rotatey(0);
        }
      }
    }
  }
}
